
<h1>Activated boxes</h1>
<ul style="padding: 0px; margin: 0px; margin-left: 10px;">
{% for key, value in boxes.iteritems() %}
	<li style="list-style: none; padding: 0px; margin: 0px;"> <span {% if boxes[key]["last_online"] is defined and boxes[key]["last_online"]|int < 120 %} style="color: #46FA46;" {% else %} style="color: red;" {% endif %} >{{ key }}</span> (<a href="#" onClick="toggle('{{ key }}')">+</a>)</li>
	<ul id="{{ key }}" style="display: none;">
		<li><a target="_blank" href="http://{{ key }}.backupbox.se/files/log/indexer.log">indexer.log</a></li>
		<li><a target="_blank" href="http://{{ key }}.backupbox.se/files/log/automount.log">automount.log</a></li>
		<li><a target="_blank" href="http://{{ key }}.backupbox.se/files/log/box.log">box.log</a></li>
		{% for _k, _v in value.iteritems() %}
			{%  if _k == "devices" %}
				<li><b>Devices</b> (<a href="#" onClick="toggle('{{ key }}_{{ _k }}')">+</a>)
					<ul id="{{ key }}_{{ _k }}" style="display: none;">
					{% for _kk, _vv in _v.iteritems() %}
						<li>{{ _vv['product_name'] }}</li>
						<ul>
							<li>{{ _vv['serial'] }}</li>
							<li><b>Modell: </b>{{ _vv['model'] }}</li>
							<li><b>Vendor ID: </b>{{ _vv['vendor_id'] }}</li>
							<li><b>Vendor: </b>{{ _vv['vendor_name'] }}</li>
							<li><b>Tillverkare: </b>{{ _vv['manufacturer'] }}</li>
							<li><b>Senaste backup: </b>{{ _vv['last_backup'] }}</li>
							<li><b>Status: </b>{{ _vv['state'] }}</li>
							<li><b>Ny: </b>{{ _vv['new'] }}</li>
						</ul>
					{% endfor %}
					</ul>
				</li>
			{% else %}
				{%  if _k == "local_ip" %}
					<li><b>{{ _k }}:</b> <a href="http://{{ _v }}">{{ _v }}</a></li>
				{% else %}
					<li><b>{{ _k }}:</b> {{ _v }}</li>
				{% endif %}
			{% endif %}
		{% endfor %}		
	</ul>
{% endfor %}
</ul>

<script>
	function toggle(id) {
		var d = document.getElementById(id);
		if(d.style.display == "block") {
			d.style.display = "none";
		} else {
			d.style.display = "block";
		}
	}
</script>
