	  <div class="navbar">
	    <div class="navbar-inner">
	      <a class="brand" href="#">Backupbox.se</a>
	      <ul class="nav">
	          <li ng-click="" class="devices dropdown-checkbox dropdown device-dropdown"><a href="#">Devices <span id="deviceCount"></span><b class="caret"></b></a></li>
	          <li>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
					<li ng-repeat="device in FilesCtrl.fileService.devices" id="{{device.id}}" class="device" device-repeat-directive>
						<a href="javascript:void(0)" ng-click="infinity.nextPage('{{device.id}}')">{{device.product_name}}</a>
						<div class="unset-filter">x</div>
					</li>
				</ul>
	          </li>
	          <!--li>
	          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			    Action
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
			    <li><a href="#">Magdas iPhone</a></li>
			    <li><a href="#">P-M's iPhone</a></li>
			  </ul>
			</li-->
	        <li class="filters">
	        	<a href="#" ng-click="infinity.nextPage(null,'image')"><input id="filter-image" type="checkbox" checked ng-click="infinity.nextPage(null,'image')" /> Photos</a> 
	        	<a href="#" ng-click="infinity.nextPage(null,'video')"><input id="filter-video" type="checkbox" checked ng-click="infinity.nextPage(null,'video')" /> Videos</a>
	        </li>
	        <li class="filters">
	        	<a href="#" ng-click="infinity.nextPage(null,'other')"><input id="filter-other" type="checkbox" ng-click="infinity.nextPage(null,'other')" /> Documents & Files</a>
	        </li>
	      </ul>
	    </div>
	  </div>   		