<div>
	<div id='cssmenu' style="margin-top: 10px; margin-bottom: 5px;">
	<ul>
	   <li ng-class="{active: state == 'list'}" style="margin-left: 10%;" class='active'><a ng-click="infinity.selectTab('list')" href="#"><div class="icon-white icon-home"></div> <span>My files</span></a></li>
	   <li ng-show="FilesCtrl.fileService.devices.length > 0" ng-class="{active: state == 'cloud'}" ><a ng-click="infinity.selectTab('cloud')" href='#'><div class="icon-white icon-hdd"></div> <span>Shared on Cloud Server<span ng-show="share.length > 0" id="cart">({{share.length}})</span></span></a></li>
	   <li ng-show="FilesCtrl.fileService.devices.length > 0" ng-class="{active: state == 'printouts'}"><a ng-click="infinity.selectTab('printouts')"  href="#"><div class="icon-white icon-print"></div> <span>Printed Photos<span ng-show="cart.length > 0" id="cart">({{cart.length}})</span></span></a></li>
	   <!-- li class='last'><a href='#'><span>Contact</span></a></li -->
	</ul>
	</div>	
<script type="text/javascript">
( function( $ ) {
$( document ).ready(function() {
$('#cssmenu').prepend('<div id="bg-one"></div><div id="bg-two"></div><div id="bg-three"></div><div id="bg-four"></div>');
});
} )( jQuery );
	
</script>	
	<!-- ul class="tablist nav nav-tabs nav-justified" role="tablist">
		<li id="tabBackupbox" ng-class="{active: state == 'list'}"><a ng-click="infinity.selectTab('list')" href="#"><div ng-class="{'icon-home': state == 'list','icon-white icon-home': state != 'list'}"></div> My MemoryBox</a></li>
		<li id="tabPrintouts" ng-class="{active: state == 'printouts'}"><a ng-click="infinity.selectTab('printouts')"  href="#"><div ng-class="{'icon-print': state == 'printouts','icon-white icon-print': state != 'printouts'}"></div> Physical Prints <span id="cart"></span></a></li>
	</ul -->
	<div class="container">
		<div id="libContainer">
	  	    <ul class="thumbnails">
				<div>
				  <div id="infiniteContainer" infinite-scroll='infinity.nextPage()' infinite-scroll-disabled='infinity.busy' infinite-scroll-distance='3'>					
						<div ng-show="state == 'cloud'" id="cloud"  ng-include src=" '/templates/share.html' ">
							Cloud backup is not activated.
						</div>

						<div ng-show="state == 'printouts'" id="printouts" ng-include src=" '/templates/printouts.html' ">
							
						</div>

						<div ng-show="state == 'list'">
							  <div class="navbar">
							    <div class="navbar-inner">
							      <a class="brand" href="#">Backupbox.se</a>
							        <ul ng-show="FilesCtrl.fileService.devices.length > 0" id="devices" class="nav">
								         <li class="devices dropdown-checkbox dropdown device-dropdown"><a href="#"><span id="device-dropdown">Alla devices</span> <span id="deviceCount"></span><b class="caret"></b></a></li>
								         <li>
											<ul id="deviceDropdown" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
												<li ng-repeat="device in FilesCtrl.fileService.devices" id="{{device.id}}" class="device" device-repeat-directive>
													<a href="javascript:void(0)" ng-click="infinity.nextPage('{{device.id}}')"><span>{{device.product_name}}</span><div class="unset-filter">x</div></a>
												</li>
											</ul>
								         </li>
							        </ul>
							        <ul ng-show="FilesCtrl.fileService.devices.length > 0" id="filters" class="nav">
								        <li class="filters">
								        	<span nng-show="types['images'] > 0"><input id="filter-image" type="checkbox" checked ng-click="infinity.nextPage(null,'image', true)" /><a href="#" ng-click="infinity.nextPage(null,'image')"> Photos<span id="imagescount"> ({{types["images"]}})</span></a></span>
								        	<span nng-show="types['videos'] > 0"><input id="filter-video" type="checkbox" checked ng-click="infinity.nextPage(null,'video', true)" /><a href="#" ng-click="infinity.nextPage(null,'video')"> Videos<span id="videoscount"> ({{types["videos"]}})</span></a></span>
								        </li>
								        <li nng-show="types['others'] > 0" class="filters">
								        	<input id="filter-other" type="checkbox" ng-click="infinity.nextPage(null,'other', true)" /><a href="#" ng-click="infinity.nextPage(null,'other')"> Documents & Files<span id="otherscount"> ({{types["others"]}})</span></a>
								        </li>
							        </ul>
							    </div>
							  </div>   									
							<ul ng-show="items && items.length > 0" id="thumbnails" class="thumbnails">
								<li class="span3" ng-repeat="item in items" thumbnail-repeat-done="parseDate()">
									<div id="photo-{{item.id}}" class="thumbnail"><div style="cursor: pointer;" class="preview"><div ng-show="item.type == 'image'" class="print"><img src="/static/images/icons/photoalbum.png" /></div><div timestamp="{{item.created_at}}" style="background-image: url(/files/stream/{{item.id}}/jpg/thumbnail/260)" class="preview image" ng-click="infinity.showPicture('{{item}}')"><div class="{{item.type}}"><div class="typecontent">{{item.type_content}}</div></div></div></div></div>
								</li>
							</ul>
							<table ng-show="files && files.length > 0" id="otherfiles" class="display otherfiles" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Type</th>
										<th>Name</th>
										<th>Date</th>
										<th>Size</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
				  		<div  ng-show="FilesCtrl.fileService.devices.length == 0" class="browserMessage">
				  			Start using your Backupbox by connecting any USB-compatible device the the USB port on your box. 
				  		</div>
				  		<div ng-show="missingImages && !FilesCtrl.fileService.missingDevices" class="browserMessage">
				  			Ops! No images or videos were found that matches your selection. 
				  		</div>
				  </div>
				</div>
		        
		    </ul>
	    </div>

		

	    <div class="modal fade" id="filesDetailModal" tabindex="-1" role="dialog" aria-labelledby="filesDetailModalLabel" aria-hidden="true" ng-include src=" '/templates/files.detail.html' ">
	    </div>

	    <div class="modal fade" id="deviceDetailModal" tabindex="-1" role="dialog" aria-labelledby="deviceDetailModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" onClick="stopVideo()" data-dismiss="modal" aria-hidden="true">&times;</button>
	                    <h4 class="modal-title" id="deviceDetailModalLabel">Edit device information</h4>
	                </div>
	                <div class="modal-body">
						<form>
							<input id="deviceDetailModalInput" type="text" name="label" /><br />
		                    <a style="z-index: 10000; position: absolute; margin-top: 15px;" class="btn" ng-click="infinity.updateDevice()" id="modalSave" target="_blank" href="">
							    <i class="icon-download-alt"></i> Save
							</a>						
						</form>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	                </div>
	            </div>
	        </div>
	    </div>

	</div>
</div>