<ul class="tablist nav nav-tabs nav-justified" role="tablist">
	<h1>Backupbox.se</h1>
	<li id="tabBackupbox" show="#thumbnails, #device-list" hide="#printouts" class="active"><a onClick="displayTab('tabBackupbox')" href="#"><div class="icon icon-home"></div> Backupbox</a></li>
	<!-- li class="active"><a href="#"><div class="icon icon-hdd"></div> Cloudbox</a></li -->
	<li id="tabPrintouts" hide="#thumbnails, #device-list" show="#printouts"><a onClick="displayTab('tabPrintouts')" href="#"><div class="icon-white icon-print"></div> Photocopies <span id="cart"></span></a></li>
</ul>
<div ng-controller='FilesCtrl' class="container">
	<div id="libContainer">
		<div id="device-list" class="navbar navbar-inverse navbar-static-top">
		    <div class="navbar-inner">
		        <a id="mainNav-btn" class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </a>
			    <div id="mainNav" class="nav-collapse collapse navbar-inverse-collapse">
					<ul id="devicenav" class="nav">
				        <li ng-repeat="device in FilesCtrl.fileService.devices" device-repeat-directive class="dropdown">
					        	<a href="javascript:void(0)" id="{{device.id}}" data-placement="bottom" data-trigger="hover" nng-click="infinity.editDevice('{{device.id}}')" data-html="true" ng-attr-title="<div class='imageContainer'><img src='/static/images/icons/{{device.symbol}}.png' /></div>{{device.thumbnails}} photos<br />{{device.videos}} videos<br />Status: {{device.message}}" class="device" ng-click="infinity.nextPage('{{device.id}}');infinity.editDevice('{{device.id}}')"><span>{{device.product_name}}</span></a>
				        </li>
					</ul>
					<ul id="filternav" class="nav" style="float: right;">
						<li style="border-left: 1px solid grey;" id="formatFilter"><a  href="javascript:void(0)"ng-click="infinity.nextPage(null,'image')" id="type-image" title="Show only photos" class="type"><span><div class="icon-white icon-picture"></div> Photo</span></a><a  href="javascript:void(0)" ng-click="infinity.nextPage(null,'video')" id="type-video" title="Show only videos" class="type"><span><div class="icon-white icon-facetime-video"></div> Video</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	    
		<!-- div class="navbar date-navbar"><div class="navbar-inner" id="dateHolder"></div></div -->
	    <ul class="thumbnails">
			<div ng-app='box'>
			  <div id="infiniteContainer" infinite-scroll='infinity.nextPage()' infinite-scroll-disabled='infinity.busy' infinite-scroll-distance='1'>
			  		<div ng-show="FilesCtrl.fileService.missingDevices" class="browserMessage">
			  			Start using your Backupbox by connecting any USB-compatible device the the USB port on your box. 
			  		</div>
			  		<div ng-show="missingImages && !FilesCtrl.fileService.missingDevices" class="browserMessage">
			  			Ops! No images or videos were found that matches your selection. 
			  		</div>
					<div id="printouts">
						<div ng-show="!cart" class="browserMessage">
				  			You can order beautiful photocopies from your Backupbox directly to your home. Just click print on the photos you would like to order and return to this page to finalize your order. 
				  		</div>
						
						<div ng-show="cart && checkoutstep == 0">
				  			<h1>Order beautiful photo copies today</h1>
				  			<p>You can instantly order a printed copy of any of your photos directly from your Backupbox. This is a list of all the photos you have selected for printing. If you are done adding photos to the photo print queue just press the button below to order beautiful print copies of these photos right now.</p>
					  		<button ng-click="infinity.nextCheckoutStep()" class="btn">Yes, Print These Photos</button>
					  		<!--  
					  		   -d countryCode=GB \
							   -d qualityLevel=Pro \
							   -d useTracked=true \
							   -d recipientName=Mr%20Jones \
							   -d address1=The%20Hollies \
							   -d addressTownOrCity=Cardiff \
							   -d stateOrCounty=Glamorgan \
							   -d postalOrZipCode=CF11%201AX \
							   -d payment=InvoiceRecipient
					  		 -->
					  		<hr />
					  		<!-- b>Photos selected for print</b -->
							<ul class="thumbnails">
								<li class="span3" ng-repeat="item in cart">
									<div id="{{item.id}}" class="thumbnail"><div style="cursor: pointer;" class="preview"><div timestamp="{{item.created_at}}" style="background-image: url(/files/stream/{{item.id}}/jpg/thumbnail/260)" class="preview image" nnng-click="infinity.showPicture('{{item.id}}')"><div class="{{item.type}}"><div class="typecontent">{{item.type_content}}</div></div></div></div></div>
								</li>
							</ul>  		 
				  		</div>
				  						  		
			  			<div ng-show="checkoutstep >= 1">
				  			<h1>Order photoprints directly to your home</h1>
				  			<p>
				  			You are just a few clicks away of receiving your first batch och beutifully printed copies of your photos. Follow the instructions below and complete your order. 
				  			</p>
				  			<br />
				  			<p><b>1. Choose your print size</b><p>
				  			<div class="photosize btn-group">
					  			<button ng-click="infinity.updateCart($event)" price="0.2" class="btn">Small 9x12cm</button>
					  			<button ng-click="infinity.updateCart($event)" price="0.5" class="btn">Medium 10x15cm</button>
					  			<button ng-click="infinity.updateCart($event)" price="1.0" class="btn">Large 20x27cm</button>
				  			</div>
				  		</div>
			  			<div ng-show="checkoutstep >= 2">
							<!-- ul class="thumbnailss">
							  <li class="span4">
							    <div class="thumbnaill">
							      <img data-src="holder.js/300x200" alt="">
							      <h3>Thumbnail label</h3>
							      <p>Thumbnail caption...</p>
							    </div>
							  </li>
							  ...
							</ul -->
				  			
				  			<br />
				  			<br />
				  			<div class="summary">
				  				<p><b>2. Summary</b></p>
					  			<table class="table-bordered table-striped">
					  				<thead>
						  				<tr>
							  				<td><b>Item</b></td>
							  				<td><b>Price per photo</b></td>
							  				<td><b>Total</b></td>
						  				</tr>
					  				</thead>
					  				<tr>
						  				<td><span class="photocount"></span> quality print photos</td>
						  				<td>€<span class="price"></></td>
						  				<td>€<span class="rowtotals"></></td>
					  				</tr>
					  				<tr>
						  				<td>Shipping</td>
						  				<td></td>
						  				<td>€<span class="shipping"></span></td>
					  				</tr>
					  				<tr>
						  				<td><b>Total cost</b></td>
						  				<td></td>
						  				<td><b>€<span class="totals"></span></b></td>
					  				</tr>
					  				<!-- tr>
						  				<td>Tax</td>
						  				<td><span class="photocount"></span></td>
					  				</tr -->
					  			</table>
				  			</div>
				  			<br />
				  			<p><b>3. Address information</b></p>
					  		<div class="form-horizontal">
						  		<div class="help-block">
						  			Recipent name<br />
						  			<input class="input-append" name="recipientName" type="text" />
						  		</div>
						  		<div class="help-block">
						  			Street address<br />
						  			<input name="address1" type="text" />
						  		</div>
						  		<div class="help-block">
						  			City/Town<br />
						  			<input name="stateOrCounty" type="text" />
						  		</div>
						  		<div class="help-block">
						  			Postal code<br />
						  			<input name="postalOrZipCode" type="text" />
						  		</div>
						  		<div class="help-block">
						  			Country<br />
						  			<select name="selectCountry" id="selectCountry">
						  				<option value="AT">AUSTRIA</option>
						  				<option value="AU">AUSTRALIA</option>
						  				<option value="BE">BELGIUM</option>
						  				<option value="BR">BRAZIL</option>
						  				<option value="CA">CANADA</option>
						  				<option value="CH">SWITZERLAND</option>
						  				<option value="CL">CHILE</option>
						  				<option value="DE">GERMANY</option>
						  				<option value="DK">DENMARK</option>
						  				<option value="ES">SPAIN</option>
						  				<option value="FR">FRANCE</option>
						  				<option value="GB">UNITED KINGDOM</option>
						  				<option value="IE">IRELAND</option>
						  				<option value="IT">ITALY</option>
						  				<option value="MX">MEXICO</option>
						  				<option value="NL">NETHERLANDS</option>
						  				<option selected value="SE">SWEDEN</option>
						  				<option value="US">UNITED STATES</option>
						  			</select>
						  		</div>
						  		<br />
						  		<br />
						  		<button class="btn">Complete Order</button>
					  		</div>				  			
				  		</div>
					</div>
					<ul id="thumbnails" class="thumbnails">
						<li class="span3" ng-repeat="item in items" thumbnail-repeat-done="parseDate()">
							<div id="{{item.id}}" class="thumbnail"><div style="cursor: pointer;" class="preview"><div ng-click="infinity.addToCart('{{item}}', '/files/stream/{{item.id}}/jpg/thumbnail/260', $event)" ng-show="item.type == 'image'" class="print"><img src="/static/images/icons/photoalbum.png" /></div><div timestamp="{{item.created_at}}" style="background-image: url(/files/stream/{{item.id}}/jpg/thumbnail/260)" class="preview image" ng-click="infinity.showPicture('{{item.id}}')"><div class="{{item.type}}"><div class="typecontent">{{item.type_content}}</div></div></div></div></div>
						</li>
					</ul>
			  </div>
			</div>
	        
	    </ul>
    </div>

    <div class="modal fade" id="filesDetailModal" tabindex="-1" role="dialog" aria-labelledby="filesDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onClick="stopVideo()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="filesDetailModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <a style="z-index: 10000; position: absolute; margin-top: 15px; margin-left: 10px;" class="btn" id="modalDownload" target="_blank" onClick="downloadFile()" href="">
					    <span class="icon-download-alt"></span> Download
					</a>
                    <a style="z-index: 10000; position: absolute; margin-top: 15px; margin-left: 130px;" class="btn" id="modalDelete" target="_blank" onClick="hideFile()" href="">
					    <span class="icon-remove"></span> Delete
					</a>
					<img id="modalImage" style="display: none; position: relative; z-index: 9999;" src="" />
					<img id="originalImage" style="display: none;" src="" />
					<div id="moddalVideoContainer"><video id="modalVideo" style="display: none;" width="520" height="520" controls="controls" autoplay="autoplay">
					  <source id="modalSource" src="" type="video/mp4" />
					</video></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deviceDetailModal" tabindex="-1" role="dialog" aria-labelledby="deviceDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onClick="stopVideo()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="deviceDetailModalLabel">Edit device information</h4>
                </div>
                <div class="modal-body">
					<form>
						<input id="deviceDetailModalInput" type="text" name="label" /><br />
	                    <a style="z-index: 10000; position: absolute; margin-top: 15px;" class="btn" ng-click="infinity.updateDevice()" id="modalSave" target="_blank" href="">
						    <i class="icon-download-alt"></i> Save
						</a>						
					</form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
