<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="box">
    <head>
        <meta charset='utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <title>Backupbox.se</title>
        <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
        <link href="/static/css/box.css" rel="stylesheet">
        <!--[if lte IE 8]>
        <script src="/static/js/ie/json2.js"></script>
        <![endif]-->
    </head>
    <body>
        <header class="jumbotron">
            <div class="container">
                <h1><a style="color: inherit; font-family: inherit; text-decoration: inherit;" href="http://www.backupbox.se">Backupbox.se</a></h1>
            </div>
        </header>
        {% raw %}
        <div ng-app="box">
            <div ui-view></div>
        </div>
        {% endraw %}
        <script type="text/javascript" src="/static/js/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/js/jquery.sticky.js"></script>
        <script type="text/javascript" src="/static/js/jquery.viewport.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/angular/angular.js"></script>
        <script type="text/javascript" src="/static/js/angular/angular-resource.js"></script>
        <script type="text/javascript" src="/static/js/angular/angular-ui-router.js"></script>
        <script type="text/javascript" src="/static/js/angular/ng-infinite-scroll.js"></script>
        <script type="text/javascript" src="/static/js/angular/sinon-chai.js"></script>
        <script type="text/javascript" src="/static/js/angular/sinon.js"></script>
        <script type="text/javascript" src="/static/js/angular/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="/static/js/box.js"></script>
        <script type="text/javascript" src="/static/js/exif.js"></script>
        <script>
		$( window ).scroll(function() {
			refreshDate();
		});	        
		
		function refreshDate() {
		  var counter = 0; 
	      $(".thumbnails .image:in-viewport").each(function( index ) {
	      	  if(counter == 0) {
				  var time = new Date($( this ).attr("timestamp")*1000);
				  var viewMonth = time.getMonth();
				  var viewYear = time.getFullYear().toString();
				  var viewDate = time.getDate();
				  var month = Array("Jan","Feb","Mar","Apr","Maj","Jun","Jul","Aug","Sep","Okt","Nov","Dec");
				  $("#dateHolder").html(viewDate + " " + month[viewMonth]+" "+viewYear);
				  counter++;
				  $("#dateHolder").css("visibility","visible");
			  }
		  });
		}
		
		setTimeout("refreshDate()", 500);
        </script>
    </body>
</html>

