<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="box">
    <head>
        <meta charset='utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <title>Backupbox.se</title>
        <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
        <link href="/static/css/box.css" rel="stylesheet">
        <!--[if lte IE 8]>
        <script src="/static/js/ie/json2.js"></script>
        <![endif]-->
    </head>
    <body>
        <header class="jumbotron">
            <div class="container">
                <h1><a style="color: inherit; font-family: inherit; text-decoration: inherit;" href="http://pm.backupbox.se">Backupbox.se</a></h1>
            </div>
        </header>
        {% raw %}
        <div ng-app="box">
            <div ui-view></div>
        </div>
        {% endraw %}
        <script type="text/javascript" src="/static/js/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/js/jquery.sticky.js"></script>
        <script type="text/javascript" src="/static/js/jquery.viewport.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/angular/angular.js"></script>
        <script type="text/javascript" src="/static/js/angular/angular-resource.js"></script>
        <script type="text/javascript" src="/static/js/angular/angular-ui-router.js"></script>
        <script type="text/javascript" src="/static/js/angular/ng-infinite-scroll.js"></script>
        <script type="text/javascript" src="/static/js/angular/sinon-chai.js"></script>
        <script type="text/javascript" src="/static/js/angular/sinon.js"></script>
        <script type="text/javascript" src="/static/js/angular/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="/static/js/box.js"></script>
        <script type="text/javascript" src="/static/js/scrollto.js"></script>
        <script>
		$( window ).scroll(function() {
			refreshDate();
		});	        
		
		var previousYears = new Array(); 
		var previousMonths = new Array(); 
		var previousDates = new Array(); 
		var lastYear = null;
		var lastMonth = null;
		var lastDate = null;
		
		function showDate( dd ) {
			var counter = 0;
			var targetDate = new Date(lastYear, lastMonth, dd);
			$(".thumbnails .image").each(function( index ) {
				var time = new Date($( this ).attr("timestamp")*1000);
				
				if(time.getFullYear() == targetDate.getFullYear() && time.getMonth() == targetDate.getMonth() && time.getDate() == targetDate.getDate()) {
					//alert($( this ).position().top);
					//$("body").scrollTo($( this ));
					window.scrollTo(0, $( this ).position().top-65);
					exit;
				}
				counter++;
		    });
		}

		function goToByScroll(id){
		    $('html,body').animate({
		        scrollTop: id.offset().top});
		}
		
		function refreshDate() {
		  var counter = 0; 
	      $(".thumbnails .image:in-viewport").each(function( index ) {
	      	  if(counter == 0) {
				  var time = new Date($( this ).attr("timestamp")*1000);
				  var viewMonth = time.getMonth();
				  var viewYear = time.getFullYear().toString();
				  var viewDate = time.getDate();
				  //var viewDate = time.getDate();
				  
				  if(lastDate != viewDate) {
				  	  if($.inArray(viewDate, previousDates) == -1) {
				      	previousDates.push(viewDate);					  	  
				  	  }
				  	  
				  	  lastDate = viewDate; 
				  }

				  if(lastMonth != viewMonth) {
				  	  if($.inArray(viewDate, previousMonths) == -1) {
				      	previousMonths.push(viewMonth);					  	  
				  	  }
				  	  
				  	  lastMonth = viewMonth; 
				  }

				  if(lastYear != viewYear) {
				  	  if($.inArray(viewYear, previousYears) == -1) {
				      	previousYears.push(viewYear);					  	  
				  	  }
				  	  
				  	  lastYear = viewYear; 
				  }

				  
				  var month = Array("January","February","March","April","May","June","July","August","September","October","November","December");
				  var yearList = "";
				  var monthList = "";
				  var dateList = "";

				  for (var i=0;i<previousDates.length;i++) {
					  dateList += "<li><a href='javascript:showDate("+previousDates[i]+")'>"+previousDates[i]+"</li>"; 
				  }
				  				  
				  for (var i=0;i<previousMonths.length;i++) {
					  monthList += "<li><a href='javascript:void(0)'>"+month[previousMonths[i]]+"</li>"; 
				  }

				  for (var i=0;i<previousYears.length;i++) {
					  yearList += "<li><a href='javascript:void(0)'>"+previousYears[i]+"</li>"; 
				  }
				  
				  $("#dateHolder").html("<ul class='nav'><li class='dropdown'><a class='dropdown-toggle ng-binding' data-toggle='dropdown' href='#'>"+viewDate+" <b style='border-top: 4px solid white;' class='caret'></b></a><ul id='dropdown-dates' class='dropdown-menu'>"+dateList+"</ul></li><li class='dropdown'><a  class='dropdown-toggle ng-binding' data-toggle='dropdown' href='#'>" + month[viewMonth]+" <b style='border-top: 4px solid white;' class='caret'></b></a><ul id='dropdown-dates' class='dropdown-menu'>"+monthList+"</ul></li><li class='dropdown'><a  class='dropdown-toggle ng-binding' data-toggle='dropdown' href='#'>"+viewYear+" <b style='border-top: 4px solid white;' class='caret'></b></a><ul id='dropdown-dates' class='dropdown-menu'>"+yearList+"</ul></li></ul>");
				  counter++;
				  $("#dateHolder").css("visibility","visible");
			  }
		  });
		}
		
		setTimeout("refreshDate()", 500);
        </script>
    </body>
</html>

