						<div ng-show="cart.length == 0" class="browserMessage">
				  			You can order beautiful photocopies from your Backupbox directly to your home. Just click print on the photos you would like to order and return to this page to finalize your order. 
				  		</div>
						
						<div ng-show="cart.length > 0">
				  			<h1>Order beautiful photo copies today</h1>
				  			<p>You can instantly order a printed copy of any of your photos directly from your Backupbox. This is a list of all the photos you have selected for printing. If you are done adding photos to the photo print queue just press the button below to order beautiful print copies of these photos right now.</p>
					  		<!-- button ng-click="infinity.nextCheckoutStep()" class="btn">Yes, Print These Photos</button -->
					  		<hr />
							<ul class="thumbnails">
								<li class="span3" ng-repeat="item in cart">
									<div id="{{item.id}}" class="thumbnail"><div style="cursor: pointer;" class="preview"><div class="visible print"><img src="/static/images/icons/photoalbum.png" /></div><div timestamp="{{item.created_at}}" style="background-image: url(/files/stream/{{item.id}}/jpg/thumbnail/260)" class="preview image" ng-click="infinity.showPicture('{{item}}')"><div class="{{item.type}}"><div class="typecontent">{{item.type_content}}</div></div></div></div></div>
								</li>
							</ul>  		 
							<hr />
				  			<br />
				  			<br />
				  			<div class="checkoutstep" style="margin-right: 20%; float: right;">
								<section id="content">
								      <div class="shoppingCart">
								         <summary>
								            <h4>Shopping cart</h4>
								         </summary>
								         <ul>							         
								            <li ng-repeat="item in cart">
								               <span>1x <a href="javascript:void(0);">{{product}}</a></span> <strong>&euro; {{price}}</strong>
								            </li>
								            <li><span>1x <a href="javascript:void(0);">Shipping</a></span> <strong>&euro; {{shipping}}</strong></li>
								         </ul>
								         <p>
								            <span>Products: <strong>{{cart.length}}</strong></span> <span>Total: <strong>&euro;{{cart.length*price+shipping}}</strong></span>
								         </p>
								         <button style="float: right; margin-bottom: 10px; margin-right: 10px;" class="btn">Complete Order</button>
								      </div>
								</section>
				  			</div>
				  			<div class="checkoutstep">
					  			<p><b>1. Choose your print size</b></p>
					  			<div class="photosize btn-group">
						  			<button ng-click="infinity.selectProduct($event)" price="0.2" class="active btn">Small 9x12cm</button>
						  			<button ng-click="infinity.selectProduct($event)" price="0.5" class="btn">Medium 10x15cm</button>
						  			<button ng-click="infinity.selectProduct($event)" price="1.0" class="btn">Large 20x27cm</button>
					  			</div>
					  		</div>
					  		<br />
					  		<div class="checkoutstep">
					  			<p><b>3. Address information</b></p>
						  		<div class="form-horizontal">
							  		<div class="help-block">
							  			Recipent name<br />
							  			<input class="input-append" name="recipientName" type="text" />
							  		</div>
							  		<div class="help-block">
							  			Street address<br />
							  			<input name="address1" type="text" />
							  		</div>
							  		<div class="help-block">
							  			City/Town<br />
							  			<input name="stateOrCounty" type="text" />
							  		</div>
							  		<div class="help-block">
							  			Postal code<br />
							  			<input name="postalOrZipCode" type="text" />
							  		</div>
							  		<div class="help-block">
							  			Country<br />
							  			<select name="selectCountry" id="selectCountry">
							  				<option value="AT">AUSTRIA</option>
							  				<option value="AU">AUSTRALIA</option>
							  				<option value="BE">BELGIUM</option>
							  				<option value="BR">BRAZIL</option>
							  				<option value="CA">CANADA</option>
							  				<option value="CH">SWITZERLAND</option>
							  				<option value="CL">CHILE</option>
							  				<option value="DE">GERMANY</option>
							  				<option value="DK">DENMARK</option>
							  				<option value="ES">SPAIN</option>
							  				<option value="FR">FRANCE</option>
							  				<option value="GB">UNITED KINGDOM</option>
							  				<option value="IE">IRELAND</option>
							  				<option value="IT">ITALY</option>
							  				<option value="MX">MEXICO</option>
							  				<option value="NL">NETHERLANDS</option>
							  				<option selected value="SE">SWEDEN</option>
							  				<option value="US">UNITED STATES</option>
							  			</select>
							  		</div>
							  	</div>
					  		</div>	
					  		<br />			  			
					  		<br />			  			
					  		<br />			  			
					  		<br />			  			
				  		</div>