<!doctype html>
<html xmlns:ng="http://angularjs.org">
    <head>
        <meta charset='utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <title>Backupbox.se</title>
            <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico">        
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
        <!-- link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" -->
        {% assets output="gen/style.css","css/bootstrap/bootstrap.css","css/bootstrap-dropdown-checkbox.css","css/bootstrapValidator.css","css/bootstrap-dropdown-checkbox.css","css/shCore.css","css/jquery.dataTables.css","css/box.css","css/bootstrap/bootstrap-responsive.css" %}
            <link href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}
            <style>
        .help-block {
          color: red;
        }

        .form-horizontal input + .help-block, .form-horizontal .input-append + .help-block {
          margin-top: 0px;
        }
        </style>

        <script>var browserStatus = 0;</script>
        <!--[if lte IE 7]>
            <style>#browserError { display: block; }</style>
            <script>browserStatus = -1;</script>
        <![endif]-->
        <!--[if lte IE 8]>
        <script src="/static/js/ie/json2.js"></script>
        <script>browserStatus = -1;</script>
        <style>#browserError { display: block; }</style>
        <![endif]-->
        <!--[if IE 8]><!--> <meta http-equiv="X-UA-Compatible" content="IE=8" /> <!--<![endif]-->
    </head>
    <body id="ng-app" ng-app="box">    
    <div id="menuContainer" ng-controller="FilesCtrl">
        <div id='cssmenu'>
        </div>  

        <div class="container">
            <div id="libContainer">
                <ul class="thumbnails">
                    <div style="float: right; width: 15%; margin-left: 20px">
                        <p style="margin-top: 10px; "><img style="padding: 5px; border: 1px solid grey;" width="160" height="160"  src="/files/stream/null/null/profile/0" /><br />
                        <br />
                        {% if localaccess != "" %}
                        	Welcome to the personal Bakcupbox of
                        	{{firstname}} {{lastname}}. </p>
                        {% endif %}
                    </div>                
                    {% if localaccess == 1 %}
                        <div class="splashbox">
                            <p><img src="/static/images/box-online.png" width="100" /> We have detected that you are logged in to the same network as your Backupbox. <br />
                            Do you want to login to your box?<br />
                            <button onClick="window.location='http://{{ localip }}/'"class="button">Yes, Login to my box</button>
                            </p>
                        </div>
                    {% else %}
                        <div class="splashbox">
                            <p><img src="/static/images/box-online.png" width="100" /> Oh no! We have detected that you are currently <b>not</b> logged in to the same network as your Backupbox. Please login to the same network as your backupbox and reload this page. <br />
                            <br />
                            Still have a problem? Send an email to <a href="mailto:support@backupbox.se">support@backupbox.se</a><br />
                            </p>
                        </div>
                    {% endif %}
                    <!--div style="display: none; float: left; width: 75%;" ng-show="shared && shared.length > 0" ng-init="infinity.loadShared()">
                        <ul id="thumbnails" class="thumbnails">
                            <li class="span3" ng-repeat="item in shared">
                                {% raw %}
                                    <div id="photo-{{item.id}}" class="thumbnail">
                                        <div style="cursor: pointer;" class="preview">
                                            <div timestamp="{{item.created_at}}" style="background-image: url(/files/stream/{{item.id}}/jpg/thumbnail/260)" class="preview image" ng-click="infinity.showPicture('{{item.id}}')">
                                                <div class="{{item.type}}">
                                                    <div class="typecontent">{{item.type_content}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">{{item.description}}</div>                                    
                                {% endraw %}
                            </li>
                        </ul>
                    </div -->
                </ul>
            </div>
        </div>
        
        <div class="modal fade" id="filesDetailModal" tabindex="-1" role="dialog" aria-labelledby="filesDetailModalLabel" aria-hidden="true" style="height: 90%; display: none;">
            <div class="modal-dialog" style="height: 100%;">
                <div class="modal-content" style="height: 100%; ">
                    <div class="modal-header">
                        <button id="modalClose" type="button" class="btn btn-default" onClick="stopVideo()" data-dismiss="modal" aria-hidden="true">&times;</button>
                         <a class="btn btn-default" onClick="downloadFile()" href="">
                            <span class="icon-download-alt"></span>
                        </a>

                        <h4 class="modal-title" id="filesDetailModalLabel">Modal title</h4>
                        <div style="font-style: italic;" id="filesDetailModalDate"></div>
                    </div>
                    <div class="modal-body" style="max-height: 75%;">
                        <a id="zoomLink" target="_blank" href=""><img id="modalImage" style="display: none; position: relative; z-index: 9999;" src="" /></a>
                        <img id="originalImage" style="display: none;" src="" />
                        <div id="moddalVideoContainer"><video id="modalVideo" style="display: none;" width="520" height="520" controls="controls" autoplay="autoplay">
                          <source id="modalSource" src="" type="video/mp4" />
                        </video></div>

                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>      
        </div>


        <!-- Bootstrap Assests -->
        {% assets output="gen/basic.js","js/jquery/jquery.js","js/bootstrap/bootstrap.js" %}
        <script src="{{ ASSET_URL }}" type="text/javascript"></script>
        {% endassets %}        
        
        <!-- Angular Assests -->
        {% assets output="gen/angular.js","js/angular/angular.js","js/angular/angular-resource.js","js/angular/angular-ui-router.js","js/angular/ng-infinite-scroll.js","js/angular/sinon-chai.js","js/angular/sinon.js","js/angular/angular-sanitize.min.js" %}
        <script src="{{ ASSET_URL }}" type="text/javascript"></script>
        {% endassets %}        
        
        <!-- Box Assests -->
        {% assets output="gen/app.js","js/jquery.sticky.js","js/box.js","js/datebar.js","js/bootstrapValidator.js","js/jquery.dataTables.js","js/shCore.js","js/demo.js","js/jquery.isloading.js" %}
        <script src="{{ ASSET_URL }}" type="text/javascript"></script>
        {% endassets %}

        <script type="text/javascript">
        ( function( $ ) {
            $( document ).ready(function() {
            $('#cssmenu').prepend('<div id="bg-one"></div><div id="bg-two"></div><div id="bg-three"></div><div id="bg-four"></div>');
            });
        } )( jQuery );
        </script>   

    </body>
</html>
