						<div ng-show="share.length + shared.length == 0" class="browserMessage">
				  			You can publish images in the cloud by selecting them in your image library. 
				  		</div>
						
						<div style="height: 800px" ng-show="share.length + shared.length > 0">
							<div ng-show="share.length > 0">
								<h1>Share files with your friends</h1>
								<p>You have selected these images to be published on your public url. You will be able to see them on the following url <a href='http://{{config["USERNAME"]}}.backupbox.se'>http://{{config["USERNAME"]}}.backupbox.se</a><br />
								Are you sure you want to publish these files?<br />
								<br />
								<button ng-click="infinity.shareImages()" class="btn">Yes, publish them now</button>&nbsp;&nbsp;&nbsp; <button ng-click="infinity.cancelSharing()" class="btn">No, I have changed my mind</button>
								<br />
								<br />
								</p>
								<ul class="thumbnails">
									<li class="span3" ng-repeat="item in share">
										<div id="{{item.id}}" class="thumbnail">
											<div style="cursor: pointer;" class="preview">
												<div timestamp="{{item.created_at}}" style="background-image: url(/files/stream/{{item.id}}/jpg/thumbnail/260)" class="preview image" ng-click="infinity.showPicture('{{item}}')">
													<div class="{{item.type}}">
														<div class="typecontent">{{item.type_content}}</div>
													</div>
												</div>
											</div>
										</div>
										<textarea id="description-{{item.id}}"></textarea>
									</li>
								</ul>  	
								<hr />
							</div>	
							<div ng-show="shared.length > 0">
								<p style="display: none;" class="busy"><br /><b>Upload in progress</b><br />Your images are currently being uploaded to the cloud server. When the upload is complete the indicator in the menu is removed and you will be able to access your images here: <a href='http://{{config["USERNAME"]}}.backupbox.se'>http://{{config["USERNAME"]}}.backupbox.se</a><br /><br /></p>
								<h1>Shared library</h1>
								<p>These images has already been published on your public page and can be viewed without a password at: 
								<a href='http://{{config["USERNAME"]}}.backupbox.se'>http://{{config["USERNAME"]}}.backupbox.se</a></p>
								<br />
								<ul class="thumbnails">
									<li class="span3" ng-repeat="item in shared">
										<div id="{{item.id}}" class="thumbnail">
											<div style="cursor: pointer;" class="preview">
												<div timestamp="{{item.created_at}}" style="background-image: url(/files/stream/{{item.id}}/jpg/thumbnail/260)" class="preview image" ng-click="infinity.showPicture('{{item}}')">
													<div class="{{item.type}}">
														<div class="typecontent">{{item.type_content}}</div>
													</div>
												</div>
											</div>
										</div>
										<div class="description">{{item.description}}</div>
									</li>
								</ul>
							</div>
						</div>