						<div ng-show="share.length + shared.length == 0" class="browserMessage">
				  			You can publish images in the cloud by selecting them in your image library. 
				  		</div>
						
						<div style="height: 800px" ng-show="share.length + shared.length > 0">
							<div ng-show="share.length > 0">
								<h1>Share files with your friends</h1>
								<p>You have selected these images to be published on your public url. You will be able to see them on the following url <a href="http://{{config["username"]}}.backupbox.se">http://{{config["username"]}}.backupbox.se</a><br />
								Are you sure you want to publish these files?<br />
								<br />
								<button ng-click="infinity.shareImages()" class="btn">Yes, publish them now</button>&nbsp;&nbsp;&nbsp; <button ng-click="infinity.cancelSharing()" class="btn">No, I have changed my mind</button>
								<br />
								<br />
								</p>
								<ul class="thumbnails">
									<li class="span3" ng-repeat="item in share">
										<div id="{{item.id}}" class="thumbnail"><div style="cursor: pointer;" class="preview"><div timestamp="{{item.created_at}}" style="background-image: url(/files/stream/{{item.id}}/jpg/thumbnail/260)" class="preview image" ng-click="infinity.showPicture('{{item}}')"><div class="{{item.type}}"><div class="typecontent">{{item.type_content}}</div></div></div></div></div>
									</li>
								</ul>  	
								<hr />
							</div>	
							<div ng-show="shared.length > 0">
								<h1>Publicly shared files</h1>
								<ul class="thumbnails">
									<li class="span3" ng-repeat="item in shared">
										<div id="{{item.id}}" class="thumbnail"><div style="cursor: pointer;" class="preview"><div timestamp="{{item.created_at}}" style="background-image: url(/files/stream/{{item.id}}/jpg/thumbnail/260)" class="preview image" ng-click="infinity.showPicture('{{item}}')"><div class="{{item.type}}"><div class="typecontent">{{item.type_content}}</div></div></div></div></div>
									</li>
								</ul>
							</div>
						</div>