body {
/*    background-color: #EDF4F5;*/ /* #054950 #789A9F #EDF4F5 #FFFFFF #F78F1E */
}

#browserError {
	display: none;
}

.browserMessage {
	text-align: center; 
	font-size: 32px; 
	line-height: 50px; 
	padding-top: 10%;	
}

.logo {
	float: left; 
}

.progress-container {
	/*width: 30%; */
	float: right; 
}

.progress {
	width: 70%; 
}

.progress .progress-bar {
	background-color: #CCC;
	text-align: center;
}

.splashbox {
	margin-top: 5%; 
	margin-left: 30%; 
	margin-right: 30%; 	
}

.notify {
	text-align: center; 
	font-size: 42px; 
	line-height: 50px; 
	padding-top: 10%;	
}

.jumbotron {
    padding: 15px 0;
    color: #FFF;
    text-align: left;
    /* text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075); */
	background-color: #fc423a;
	box-shadow: 0px 10px 0px #bf332d;
	margin-bottom: 20px; 
}

.jumbotron h1 a {
	color: white; 
}

p.text {
	font-size: 130%;
	line-height: 150%;
}

.box-info {
	margin-top: 10px; 
	margin-left: 5px; 
}

.navbar {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.breadcrumb > li > span > .divider {
    color: #ccc;
}
.thumbnail {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    }
    .thumbnail .preview {
        background-size: 260px 260px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        height: 156px;
        line-height: 156px;
        text-align: right;
    }
    .thumbnail .preview.icon {
        text-align: center;
        }
        .thumbnail .preview.image img {
            width: 48px;
            height: 48px;
            vertical-align: bottom;
        }
        .thumbnail .preview.icon img {
            width: 128px;
            height: 128px;
            vertical-align: middle;
        }
    .thumbnail h3 {
        text-align: center;
        font-size: 1em;
        line-height: 1.1em;
        height: 1.1em;
        overflow: hidden;
        text-shadow: 0 1px #FFFFFF;
        cursor: pointer;
    }
.btn-toolbar {
    text-align: center;
    }
    .btn-toolbar .btn {
        margin-bottom: 5px;
    }

#libContainer {
	margin-left: 30px; 
}

.navbar-inverse .nav > li > a {
	color: #CCC; 
	text-shadow: none;
}

.navbar-inverse .nav > li > a .icon-white { 
	opacity: 0.75;
}

.navbar-inverse .nav > li > a span { 
	padding: 2px 4px 2px;
}


#device-list {
	margin-left: -30px; 
	margin-right: 0px; 	
}

	.device {
		background-color: transparent; 
	}
	
	.device .label, #formatFilter .label {
		font-size: 100%; 
		font-weight: normal;
		padding: 4px;
		padding-bottom: 2px;
		padding-top: 2px;
		color: white; 
	}
	
	.device span {
		padding: 4px;
	}
	

.dateHolder {
	text-align: center; 
	line-height: 11px; 
	border-radius: 3px; 
	width: 75px; 
	height: 75px; 
	position: relative; 
	background-color: #F5F5F5;
	border: 1px solid #E3E3E3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}
	.year, .month {
		margin-top: 10px; 
		font-weight: bold; 
		font-size: 18px; 
		line-height: 20px; 
	}

.navbar-inner {
	padding: 0px;
}	
	
.date-navbar {
	margin-bottom: 0px;
	margin-right: 15px; 
	border-bottom: 0px;
}

	.date-navbar .navbar-inner {
		background-color: transparent; 
		background-image: none; 
		border: 0px; 
	}

	.date-navbar  #dateHolder-sticky-wrapper .navbar-inner {
		min-height: 30px;
	}

	.fixedDateHolder {
		margin-left: 480px; 
		margin-right: 443px;
	}

	
		.date-navbar #dateHolder-sticky-wrapper ul li a {
			color: #fc423a; 
			text-shadow: none;
			padding-top: 5px; 
			padding-bottom: 5px; 
			font-size: 16px;
		}
		
		.date-navbar #dateHolder-sticky-wrapper ul li .dropdown-menu li a { 
			color: #333;
		}
		
		.date-navbar #dateHolder-sticky-wrapper .nav li.dropdown.open > .dropdown-toggle {
			background-color: transparent;
		}

.thumbnails{
	margin-top: 5px; 
}

.noti_Container {
    position:relative;
}

.noti_bubble {
    position:absolute;
    top: -6px;
    right:-6px;
    padding:5px;
    background-color:#fc423a;
    color:white;
    border-radius:3px;
    box-shadow:1px 1px 1px #bf332d;
}

div.video {
	width: 100%;
	height: 100%;
	background-image: url(/static/images/icons/play.png);
	/*background-color: rgba(255, 255, 255, 0.5);*/
	background-position: center center; 
	background-repeat: no-repeat;
}

div.video .typecontent {
	background-color: white;
	padding: 3px;
	position: relative; 
	display: inline;
	width: auto; 
	height: 20px;
	right: 2px; 
	top: -65px;
	line-height: 20px;
}

#formatFilter {
	float:right; 
	margin-top: 10px;	
}

	#formatFilter .type {
		display: inline; 
	}
	
	#formatFilter .photo {
		background-image: url(/static/images/icons/photos.png); 		
	}

	#formatFilter .video {
		background-image: url(/static/images/icons/videos.png);
	}


#devicenav {
	width: 72%;
	max-height: 40px;
	/*overflow: hidden;*/
}

@media (max-width: 1199px) {
	#libContainer {
		margin-left: 20px; 	
	}
	
	#device-list {
		margin-left: -20px; 
		margin-right: 0px; 	
	}
	
	#devicenav {
	width: 60%;
	}

}

@media (max-width: 980px) {
	.dateHolder {
		display: none; 		
	}

	#filternav {
		display: none;		
	}
	
	#devicenav {
		max-height: none;
		overflow: visible;
	}
}

@media (max-width: 767px) {	
    .jumbotron {
        padding: 20px 10px;
        margin-right: -20px;
        margin-left: -20px;
    }

	.jumbotron h1 {
		font-size: 24px;
        line-height: 12px;
	}
    
    .box-info {
	    display: none;
    }
    
    .noti_Container {
	    display: none;
    }

	#libContainer {
		margin-left: 0px; 
	}

	#device-list {
		margin-left: 0px; 
		margin-right: 0px; 	
	}

	#dateHolder {
		margin-left: 0px;
		margin-right: 0px; 
	}
	
	.date-navbar {
		margin-right: 0px;
	}
	
	#formatFilter {
		display: none;
	}
	
	.modal {
		left: 0px; 
		right: 0px; 
	}
	
	.modal-body {
		padding: 0px; 
	}
	
	.modal.fade.in {
		top: 0px; 
	}
	

	.splashbox {
		margin-top: 5%; 
		margin-left: auto; 
		margin-right: auto; 	
	}
	
	.notify {
		text-align: center; 
		font-size: 22px; 
		line-height: 28px; 
		padding-top: 10%;	
	}	
}

.container .modal {
	display: none;
}

.modal-body {
	min-height: 400px;
}

#progressContainer div.tooltip-inner {
	padding: 10px; 
}

div.tooltip {
	position: absolute;
	z-index: 10000;
}

div.tooltip-inner {
	width: 200px;
	height: 100px;
	font-size: 14px;
	text-align: left;
	padding-top: 20px;
}

div.tooltip-inner .imageContainer {
	float: left;
	margin-left: 10px; 
	margin-right: 20px;
	height: 80px;
}

/* Box customizations of justified nav */

.tablist {
	padding-left: 8%; 
	padding-right: 15%; 
	padding-top: 1%;
	width: 84%; 
	background-color: #2a00ff;	
}

.tablist h1 {
	padding-top: 20px; 
	padding-bottom: 20px; 
	color: white; 
	font-weight: bold;	
	font-size: 18px; 
	margin: 0px; 
	padding: 0px; 
	margin-left: 15px; 
	margin-top: 20px; 
	margin-bottom: 10px; 
}

.tablist  li a {
	color: white; 
	padding-left: 100px;
	padding-right: 100px;
}

.tablist li.active a {
	font-weight: bold; 
}

.tablist  li a:hover {
	background: transparent;
}

/*.tablist li {
	background-color: #2705d1;
}*/

.print-form {
	display: none;
}

.summary table td {
	padding: 10px;
}


/* Bootstrap fix */
.form-horizontal input {
	margin-bottom: 10px;
}

.print {
	position: absolute;
	margin-top: -50px; 
	margin-left: 210px; 	
	display: none; 
}

/*.thumbnail:hover .print {
	display: block;
}*/

.thumbnail .visible {
	display: block;
}

/*.thumbnail:hover .print img {
	padding: 3px; 
	border: 2px solid transparent;		
}*/

/*.thumbnail:hover .print img:hover, .thumbnail .visible img {*/
.thumbnail .visible img {
	padding: 3px;
	border: 2px solid white; 
	background-color: white; 
	border-radius: 4px;
}

.nav-tabs > li > a, .nav-tabs > li > a {
	background-color: rgba(255, 255, 255, 0.2);
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
	background-color: rgba(255, 255, 255, 0.5);
	border-color: transparent;
}


.otherfiles thead th {
	text-align: left; 
}

#modalImage {
	cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
}

.navbar {
	display: block; 
}

.navbar .brand {
	margin-left: 10px;
}

.dropdown-menu li .unset-filter {
	display: block; 
	visibility: hidden;
	float: right;
	margin-top: 0px;
	margin-left: 15px;
}

.dropdown-menu li.active .unset-filter {
	visibility: visible;
}


/* Content */
#content{
   margin:0 auto;
   padding-bottom:50px;
   width:280px;
}
   .shoppingCart{
      position:relative;
      margin-top:40px;
      overflow:hidden;
      color:#495860;
      color:hsla(201,14%,33%,0.8);
      -webkit-border-radius:4px 4px 0 0;
         -moz-border-radius:4px 4px 0 0;
              border-radius:4px 4px 0 0;
      -webkit-box-shadow:0 2px 3px 1px rgba(0,0,0,0);
         -moz-box-shadow:0 2px 3px 1px rgba(0,0,0,0);
              box-shadow:0 2px 3px 1px rgba(0,0,0,0);
      -webkit-transition:all 0.4s;
         -moz-transition:all 0.4s;
           -o-transition:all 0.4s;
              transition:all 0.4s;
   }
      .shoppingCart{
         color:#495860;
         -webkit-box-shadow:0 2px 4px 1px rgba(0,0,0,0.1);
            -moz-box-shadow:0 2px 4px 1px rgba(0,0,0,0.1);
                 box-shadow:0 2px 4px 1px rgba(0,0,0,0.1);
      }
      .shoppingCart summary{
         padding:12px 16px 14px 16px;
         overflow:hidden;
         background:#222;
         background:-webkit-gradient(linear,left top,left bottom,color-stop(.01, #3fa4f0),color-stop(1, #0f71ba));
         background: -webkit-linear-gradient(top,#3fa4f0 1%,#0f71ba 100%);
         background: -moz-linear-gradient(top,#3fa4f0 1%,#0f71ba 100%);
         background: -o-linear-gradient(top,#3fa4f0 1%,#0f71ba 100%);
         background: linear-gradient(top,#3fa4f0 1%,#0f71ba 100%);
         -webkit-border-radius:4px 4px 0 0;
            -moz-border-radius:4px 4px 0 0;
                 border-radius:4px 4px 0 0;
         -webkit-box-shadow:inset 0 1px 0 #72b3d3, inset 0 -1px 0 #155f8e;
            -moz-box-shadow:inset 0 1px 0 #72b3d3, inset 0 -1px 0 #155f8e;
                 box-shadow:inset 0 1px 0 #72b3d3, inset 0 -1px 0 #155f8e;
      }
         .shoppingCart h4{
            float:left;
            color:#fff;
            font-weight: normal;
         }
            .shoppingCart:hover h4{
               color:#fff;
            }
         .arrow{
            float:right;
            width:0;
            height:0;
            margin-top:7px;
            border-right:4px solid transparent;
            border-bottom:4px solid hsla(200,17%,93%,0.5);
            border-left:4px solid transparent;
            -webkit-transition:all 0.5s;
               -moz-transition:all 0.5s;
                 -o-transition:all 0.5s;
                    transition:all 0.5s;
         }
            .shoppingCart:hover .arrow{
               border-bottom-color:hsla(200,17%,93%,1);
               -webkit-transform:rotate(-180deg);
                  -moz-transform:rotate(-180deg);
                    -o-transform:rotate(-180deg);
                       transform:rotate(-180deg);
            }
      .shoppingCart ul{
         list-style:none;
         position:relative;
         display:block;
         margin: 0px;
      }
         .shoppingCart li{
            padding:0 15px;
            overflow:hidden;
            height:0px;
            background:#fff;
            -webkit-transition:all 0.3s;
               -moz-transition:all 0.3s;
                 -o-transition:all 0.3s;
                    transition:all 0.3s;
         }
            .shoppingCart li{
               height:auto;
               padding:10px 15px;
               border-bottom:1px solid rgba(0,0,0,0.1);
               -webkit-box-shadow:inset 0 1px 0 #fff;
                  -moz-box-shadow:inset 0 1px 0 #fff;
                       box-shadow:inset 0 1px 0 #fff;
            }
            .shoppingCart li:hover{
               text-shadow:0 -1px #fff;
               -webkit-box-shadow:inset 0 15px 20px #eee;
                  -moz-box-shadow:inset 0 15px 20px #eee;
                       box-shadow:inset 0 15px 20px #eee;
            }
            .shoppingCart li a{
               color:#495860;
               text-decoration:none;
               border-color:#666;
               border-bottom:1px dotted rgba(0,0,0,0.6);
            }
               .shoppingCart li a:hover{
                  border:0;
               }
            .shoppingCart li span{
               display:block;
               float:left;
            }
            .shoppingCart li strong{
               display:block;
               float:right;
            }
      .shoppingCart p{
         padding:12px 16px 14px 16px;
         overflow:hidden;
         background:#fff;
         -webkit-transition:background 0.2s;
            -moz-transition:background 0.2s;
              -o-transition:background 0.2s;
                 transition:background 0.2s;
      }
         .shoppingCart p{
            text-shadow:0 -1px #fff;
            background:#eee;
         }
         .shoppingCart p span{
            display:block;
         }
            .shoppingCart p span:first-child{
               float:left;
            }

            .shoppingCart p span:last-child{
               float:right;
            }

.checkoutstep {
	width: 210px; 
}